@import "../abstracts/variables";

.text {
  &--center {
    text-align: center;
  }

  &--capitalize {
    text-transform: capitalize;
  }
}


.box-shadowed {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

  &--interactive {
    &:hover {
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    }
  }
}

@mixin spacerBuilder($property) {
  &-0 {
    #{$property}: 0 !important;
  }
  &-1 {
    #{$property}: $spacer / 4 !important;
  }
  &-2 {
    #{$property}: $spacer / 2 !important;
  }
  &-3 {
    #{$property}: $spacer !important;
  }
  &-4 {
    #{$property}: $spacer * 1.5 !important;
  }
  &-5 {
    #{$property}: $spacer * 2 !important;
  }
}

.mt {
  @include spacerBuilder(margin-top);
}

.mr {
  @include spacerBuilder(margin-right);
}

.mb {
  @include spacerBuilder(margin-bottom);
}

.ml {
  @include spacerBuilder(margin-left);
}

.pt {
  @include spacerBuilder(padding-top);
}

.pr {
  @include spacerBuilder(padding-right);
}

.pl {
  @include spacerBuilder(padding-left);
}

.pb {
  @include spacerBuilder(padding-bottom);
}